<div class="container-fluid">
  <H2 class="d-flex justify-content-center">Dashboard</H2> <br>
  <!--  Row 1 -->
  <div class="row">
    <div class="col-lg-12">
      <!-- Chart -->
      <div>
        <h5 class="card-title fw-semibold mb-0 text-center">L'évolution de Recrutement Par Année</h5>
        <br>
        <br>
        <ngx-charts-bar-vertical
          [results]="recruitmentData"
          [xAxis]="true"
          [yAxis]="true"
        ></ngx-charts-bar-vertical>
      </div>

    </div>
  </div>
</div>