<div class="container-fluid">
  <div class="card">
    <div class="card-body" style=" max-height: 200px;">
      <h5 class="card-title fw-semibold mb-4">La liste des Managers RH sans compte</h5>
      <p class="mb-0">Visualiser les Managers RH qui n'ont pas de compte</p>
    </div>
  </div>
</div>
<!-- Insert your old code here -->
<div class="container">
  <div class="card">
    <div class="card-body">
<table class="table table-striped table-bordered">
  <thead class="thead-dark">
  <tr>
    <th>Matricule</th>
    <th>Nom</th>
    <th>Prenom</th>
    <th>Email</th>
    <th>Abreviation Collaborateur</th>
    <th>Technologies</th>
    <th>Roles</th>
    <th>Sexe</th>
    <th>Site</th>
    <th>Statut</th>
    <th>Date Participation</th>
    <th>Seminaire Integration</th>
    <th>Ancien Collaborateur</th>
    <th>Poste Actuel</th>
    <th>Poste APP</th>
    <th>Salaire Actuel</th>
    <th>Date Embauche</th>
    <th>Date Depart</th>
    <th>BU</th>
    <th>Mois BAP</th>
    <th>Certifications</th>
    <th>Diplomes</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let manager of managerWithoutAcc">
    <td>{{ manager.matricule }}</td>
    <td>{{ manager.nom }}</td>
    <td>{{ manager.prenom }}</td>
    <td>{{ manager.email }}</td>
    <td>{{ manager.abreviationCollaborateur }}</td>
    <td>
      <ul>
        <li *ngFor="let tech of manager.technologies">{{ tech.nom }}</li>
      </ul>
    </td>
    <td>
      <ul>
        <li *ngFor="let role of manager.roles">{{ role.role }}</li>
      </ul>
    </td>
    <td>{{ manager.sexe }}</td>
    <td>{{ manager.site }}</td>
    <td>{{ manager.statut }}</td>
    <td>{{ manager.dateParticipation | date }}</td>
    <td>{{ manager.seminaireIntegration ? 'Yes' : 'No' }}</td>
    <td>{{ manager.ancien_Collaborateur ? 'Yes' : 'No' }}</td>
    <td>{{ manager.posteActuel }}</td>
    <td>{{ manager.posteAPP }}</td>
    <td>{{ manager.salaireActuel }}</td>
    <td>{{ manager.date_Embauche | date }}</td>
    <td>{{ manager.date_Depart | date }}</td>
    <td>{{ manager.bu }}</td>
    <td>{{ manager.mois_BAP }}</td>
    <td>
      <ul>
        <li *ngFor="let certif of manager.certificats">{{ certif.nom }}</li>
      </ul>
    </td>
    <td>
      <ul>
        <li *ngFor="let diplome of manager.diplomes">{{ diplome.type }}</li>
      </ul>
    </td>
  </tr>
  </tbody>
</table>
    </div>
  </div>
</div>
<!-- End of old code -->