<div class="container-fluid">
  <div class="card">
    <div class="card-body" style="max-height: 200px;">
      <h5 class="card-title fw-semibold mb-4">La liste des Technologies</h5>
      <p class="mb-0">Visualiser les Technologies avec leurs niveaux</p>
    </div>
  </div>
</div>

<table>
  <thead>
    <tr>
      <th>Technologie</th>
      <th>Niveau</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let technologie of technologies">
      <td>{{ technologie.name }}</td>
      <td>{{ technologie.value }}</td>
    </tr>
  </tbody>
</table>